node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# cljs
.shadow-cljs
.calva
.clj-kondo
.lsp

# project specific
artifacts
.bordel


